[user]
	email = liliakai@gmail.com
	name = lilia

[color]
	branch = auto
	diff = auto
	status = auto
	pager = true
	ui = auto

[apply]
	whitespace = fix

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%C(yellow)%d%Creset' --abbrev-commit --date=relative
	st = status
	di = diff
	co = checkout
	ci = checkin
	sh = show
	su = submodule update
	f  = fetch
	up = pull
	rb = rebase
	br = branch
	db = branch -D
	rom = rebase origin/master
	staged = diff --cached
[solo]
	name = lilia
	email = liliakai@gmail.com
[core]
	editor = vim
	pager = less -x1,5
[push]
	default = simple
[rerere]
	enabled = true
	autoupdate = true
